on fs
    setprop ro.product.device PNX
    setprop ro.product.name PNX
on fs
	setprop ro.build.fingerprint Nokia/PNX/PNX:10/QKQ1.190406.002/00WW_4_011:user/release-keys
	setprop ro.build.description "PNX-user 10 QKQ1.190406.002 00WW_4_011 release-keys"
